.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 10s;
}

.content {
  padding: 0 2em;
  border-radius: 10px;
}

.font-weight-normal {
  font-weight: normal;
}

.content h1 {
  font-size: 3em;
}

.content h3 {
  font-size: 1.5em;
}

.content a {
  color: black;
}
