@import '_variables.scss';

$fakeCodeColor: black;

.fake-code {
  font-family: $monospaceFontFamilyName, monospace;
  white-space: pre-wrap;
  display: inline;
  tab-size: 4;
  font-size: 1rem;

  &--selected {
    background: $fakeCodeColor;
    color: white;

    &::after {
      display: none;
    }
  }

  &--idle {
    &::after {
      animation: 1s blink step-end infinite;
    }
  }

  &::after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 1.38rem;
    width: 2px;
    background: $fakeCodeColor;
    transform: translateY(-5%);
  }
}

.tight-text {
  line-height: 1.38rem;
}

@keyframes blink {
  from,
  to {
    background: transparent;
  }
  50% {
    background: $fakeCodeColor;
  }
}

@media screen and (max-width: $mobileMaxWidth) {
  .fake-code {
    font-size: 0.44rem;

    &::after {
      height: 0.74rem;
      width: 1px;
    }
  }

  .tight-text {
    line-height: 0.5rem;
  }
}
