@import '_variables.scss';

.nav {
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  font-family: $sansSerifFontFamilyName, sans-serif;
  background: white;

  &__header {
    font-size: 2rem;
    display: block;
    color: black;

    &--active {
      text-decoration: underline;
    }
  }

  &__link {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: black;

    &--active {
      text-decoration: underline;
    }
  }
}

.headroom {
  top: 0;
  left: 0;
  right: 0;
  zindex: 1;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
  border-bottom: 1px solid black;
}
