@import '_variables.scss';

.nav {
  margin: 20px auto;
  text-align: center;
  font-family: $sansSerifFontFamilyName, sans-serif;

  &__header {
    font-size: 2rem;
    display: block;
    color: black;

    &--active {
      text-decoration: underline;
    }
  }

  &__link {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5rem;
    color: black;

    &--active {
      text-decoration: underline;
    }
  }
}
