<!DOCTYPE html>
<html>
  <head>
    <title>alexbainter.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="<%= require('./styles.css').default %>" rel="stylesheet" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="<%= require('./favicon.ico').default %>"
    />
    <link
      rel="icon"
      type="image/png"
      href="<%= require('./favicon-32x32.png').default %>"
      sizes="32x32"
    />
  </head>
  <body>
    <div>
      <h1>alex bainter</h1>
      <p>web/music</p>
    </div>
    <div>
      <p><a href="https://contact.alexbainter.com">contact</a></p>
      <p><a href="https://medium.com/@alexbainter">blog</a></p>
      <p><a href="https://tinyletter.com/alexbainter">newsletter</a></p>
      <p><a href="https://twitter.com/alex_bainter">twitter</a></p>
      <p><a href="https://github.com/alexbainter">github</a></p>
      <p>
        <a
          href="https://www.fxhash.xyz/pkh/tz1YdFTttJwg8um2fBGHTVgUxyQUd2ApzCag"
          >fxhash</a
        >
      </p>
      <p><a href="https://alexbainter.bandcamp.com">bandcamp</a></p>
      <p><a href="https://www.patreon.com/bePatron?u=2484731">patreon</a></p>
      <p><a href="https://play.generative.fm/donate">sponsor</a></p>
      <p>--</p>
      <p><a href="https://generative.fm">generative.fm</a></p>
      <p><a href="https://blossom.alexbainter.com">blossom</a></p>
      <p>
        <a href="https://corruptionloops.alexbainter.com">corruption loops</a>
      </p>
      <p><a href="https://slowedandreverb.studio">slowedandreverb.studio</a></p>
    </div>
  </body>
</html>
