$fake-code-color: black;

.fake-code {
    font-family: 'Roboto Mono', monospace;
    white-space: pre-wrap;
    display: inline;
    tab-size: 4;
    font-size: 0.75em;

    &--selected {
        background: $fake-code-color;
        color: white;

        &::after {
            display: none;
        }
    }

    &--idle {

        &::after {
            animation: 1s blink step-end infinite;
        }
    }

    &::after {
        content: '';
        display:inline-block;
        vertical-align: middle;
        height: 1em;
        width: 2px;
        background: $fake-code-color;
        transform: translateY(-5%);
    }
}

@keyframes blink {
  from, to {
    background: transparent;
  }
  50% {
    background: $fake-code-color;
  }
}
