.nav {
    margin: 20px auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;

    &__header {
        font-size: 2rem;
        display: block;
        color: inherit;

        &--active {
         text-decoration: underline;
        }
    }

    &__link {
        display: inline-block;
        font-size: 1.5rem;
        padding: 0.5rem;
        color: inherit;

        &--active {
            text-decoration: underline;
        }
    }
}
