.nav {
    margin: 20px auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;

    &__header {
        font-size: 2em;
        display: block;
    }

    &__link {
        display: inline-block;
        font-size: 1.5em;
        padding: 0.5em;
    }
}
