.skill-search {
    width: 100%;
    border-width: 0 0 1px 0;
    border-color: #bbb;
    font-weight: bold;

    &:focus {
        outline: none;
    }
}

.skills-list {
    list-style-type: none;
    padding-left: 0;

    &__item {
        &:hover {
            background-color: #bbb;
        }
    }
}
